body {
	width: 600px;
	margin: 0 auto;
	background-color: #ff9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
	color: #fff;
}

h1 {
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 1px black;
}

img {
	display: block;
	width: 200px;
	margin: 0 auto;
}

div + p {
	color: #ff5958;
}

div ~ p {
	font-size: 20px;
}

p ~ span {
	color: #46aaa0;
}

ul > li, div > p {
	color: #6d12ff;
}

a:link {
	color: #6f4c52; /*unvisited link*/
}

a:visited {
	color: #6ea54c; /*visited link*/
}

a:hover {
	color: #bb160e; /*user hover*/
}

a:active {
	color: #de5d74; /*active links*/
}

.first-type :first-of-type {
	color: #6951ca;
}

.first-type :last-of-type {
	color: #8c1f32;
}

/*progress*/
:indeterminate {
  opacity: 0.5;
}

/*radio-select*/
.radio-select label{
	position: relative;
	margin: 0 5px 0 0;
	display: inline-block;
}
.radio-select label input[type="radio"]{
	opacity: 0;
	position: absolute;
	/*width: 100%;
	height: 100%;*/
}
.radio-select label input[type="radio"] + span{
	display: block;
	padding: 4px 10px;
	text-align: center;
	min-width: 70px;
}

.radio-select label input[type="radio"]:checked + span{
	background: #138ed4;
    color: #fff;
    border-radius: 2px;
}
/*radio-select*/