<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>focus</title>
	<meta charset="utf-8">
    <base href="./../../../">
    <!-- css file -->
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- js file -->
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="scripts/directives/common.js"></script>
    <script src="scripts/controllers/focus.js"></script>
</head>
    
<body>
 	<div ng-controller="myController" class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">input1</span>
                    <!-- <input type="text" name="input1" class="form-control col-xs-9" ng-model="data.input1" ng-keypress="change($event)" ay-autofocus="page.focus.input1"> -->
                    <input type="text" name="input1" class="form-control col-xs-9" ng-model="data.input1" ng-enter="change(1)" ay-autofocus="page.focus.input1">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">input2</span>
                    <input type="text" name="input2" class="form-control col-xs-9" ng-model="data.input2" ng-enter="change(2)" ay-autofocus="page.focus.input2">
                </div>
            </div>
        </div>
    </div>
</body>
</html>