<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="./../../css/page/clock.css">
	<!-- <script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script> -->
</head>
<body>
 	<div class="clock">
        <!-- 时钟刻度线条 -->
        <div class="line"></div>
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
        <div class="line line4"></div>
        <div class="line line5"></div>
        <div class="line line6"></div>
        <!-- 内部白圆与线条配合形成刻度 -->
        <div class="white_circle"></div>
        <!-- 时钟中心圆点 -->
        <div class="black_circle"></div>
        <div class="hour"></div>
        <div class="minute"></div>
        <div class="second"></div>
    </div>
</body>
</html>