<!DOCTYPE html>
<html>
<head>
	<title>coffee</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<!-- <link rel="stylesheet" type="text/css" href="../public/comm/comm.css"> -->
	<link rel="stylesheet" type="text/css" href="./../../css/page/coffee.css">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="./../../scripts/animate/selector.js"></script> -->
</head>
<body>
    <input type="checkbox" id="cap1"></input>
    <input type="checkbox" id="cap2"></input>
    <input type="checkbox" id="cap3"></input>
    <input type="checkbox" id="cap4"></input>
    <div class="overlay"></div>
    <div class="counter">
        <div class="container">
            <label class="cap" for="cap1"></label>
            <label class="cap" for="cap2"></label>
            <label class="cap" for="cap3"></label>
            <label class="cap" for="cap4"></label>
            <div class="welcome">
                <div>Welcome!</div>
                <div class="have">Have A cup of</div>
                <div class="have">espre<span>css</span>o!</div>
            </div>
            <div class="instructions">Pick a flavour</div>
            <div class="reset">Click to reset machine</div>
            <div class="machine">
                <div class="dripper"></div>
                <div class="coffee"></div>
                <div class="plate"></div>
                <div class="cup-shadow"></div>
                <div class="shield">
                    <div class="shield-line"></div>
                    <div class="shield-line"></div>
                    <div class="shield-line"></div>
                    <div class="shield-line"></div>
                    <div class="shield-line"></div>
                    <div class="shield-line"></div>
                    <div class="shield-line"></div>
                    <div class="shield-line"></div>
                </div>
            </div>
            <div class="cup"></div>
        </div>
    </div>
</body>
</html>