<!DOCTYPE html>
<html>
<head>
	<title>coffee</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <base href="./../../">
    <style type="text/css">
        *{margin:0;padding:0;font-family:sans-serif;background: #c0ffee}
        canvas{background:#fff;}
        a {
            background: #69c;
            color: #fff;
            padding: 5px 10px;
        }
    </style>
	<script type="text/javascript" src="scripts/animate/saveCanvas.js"></script>
</head>
<body>
    <canvas id="canvas"></canvas>
    <!-- <script type="text/javascript" src="scripts/animate/saveCanvas.js"></script> -->
</body>
</html>