<!DOCTYPE html>
<html>
<head>
	<title>search</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./../../css/page/search.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1459932167_5440252.css">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
 	<div class="search_area">
        <div class="search_left"><input type="text" /></div>
        <div class="search_right">
            <div class="search_btn">搜索
                <span class="iconfont icon-sousuo"></span>
            </div>
        </div>
    </div>
    <div class="triangle_border_down">
        <!-- <span></span> -->
    </div>
    <div class="clip">clip剪切效果</div>
</body>
</html>