<!DOCTYPE html>
<html>
<head>
	<title>timer</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./../../css/page/textStyle.css">
</head>
<body>
 	<div class="text-style">
 		<p class="1st">要学会维持你的快乐，不断地感恩，不断地将脸朝向有光的地方。时间长了，你自然学会了和喜悦相处的诀窍。希望你一站出来，就让人能从你身上看到生命的光彩。</p>
 		<p class="2ed">一个人的世界：病了，一个人扛；烦了，一个人藏；痛了，一个人挡；街上，一个人逛；路上，一个人想；晚上，一个人的床……慢慢地习惯了一个人的生活，变得沉默、变得冷落、没了想理、不想说、不想看……我不是高傲，也不是胡闹，是厌倦了所有的依靠。</p>
 		<p class="3rd">我想过很多遍什么是最好的爱 如果前方有一条我曾经跌得面目全非的路 而你执意想要去 我希望我爱的方式不是拼命拉住你说不要去不能去 而是给你准备最耐穿的鞋子 备好雨伞 告诉你第二个路口地很滑 第五条街道上有小偷 路边的切糕不要买 告诉你 去吧 回来家里有饭 我想最好的爱 应该是我爱你 而你是自由的</p>
 		<p class="4th">不要活得太累，不要忙的太疲惫；想吃了不要嫌贵，想穿了不要说浪费；心烦了找个朋友聚聚会，瞌睡了倒下头就去睡。心态平和永远最美，天天快乐才对。</p>
 		<p class="5th">不要活得太累，不要忙的太疲惫；想吃了不要嫌贵，想穿了不要说浪费；心烦了找个朋友聚聚会，瞌睡了倒下头就去睡。心态平和永远最美，天天快乐才对。</p>
 		<p class="6th">我们等了很长很长的时间去等待和寻找，然后用了很短很短的瞬间心动和喜欢，却更多的用了余下的光阴去怀念和感伤</p>
 		<p class="7th">我们等了很长很长的时间去等待和寻找，然后用了很短很短的瞬间心动和喜欢，却更多的用了余下的光阴去怀念和感伤</p>
 		<p class="8th">一个人的完整权利，至少应该来自两方面的自治，一是思想自由，二是身体自由，而身体自由同样包括行动自由与审美自由。</p>
 		<p class="9th">梦想使你迷醉，距离就成了欢乐；追求使你充实，失败和成功都是伴奏；当生命以美的形式证明其价值的时候，幸福是享受，痛苦也是享受。</p>
 		<p class="10th">梦想使你迷醉，距离就成了欢乐；追求使你充实，失败和成功都是伴奏；当生命以美的形式证明其价值的时候，幸福是享受，痛苦也是享受。</p>
 		<p class="11th">who knows me understand my needs, i’m a mystery to he who know me not .</p>
 		<p class="12th">who knows me understand my needs, i’m a mystery to he who know me not .</p>
 		<p class="13th">who knows me understand my needs, i’m a mystery to he who know me not .</p>
 	</div>
</body>
</html>