<!DOCTYPE html>
<html>
<head>
	<title>w_eq_h</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <style type="text/css">
        .parent{
            width: 100px;
            background: #f05654;
        }
        .children{
            width: 50%;
            padding-bottom: 50%;
            background: #000;
        }
    </style>
</head>
<body>
 	<div class="parent">
        <div class="children"></div>
    </div>
</body>
</html>