<!DOCTYPE html>
<html>
<head>
	<title>profile</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="./../../css/page/profile.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1460983671_5507925.css">
</head>
<body>
    <div class="content">
        <div id="header">
            <div class="inline qcode ver-middle"><img src="./../../images/weixin.jpg"></div>
            <div class="personal inline ver-middle">
                <div><span class="iconfont icon-tel"></span>15384027093</div>
                <div><span class="iconfont icon-youxiang"></span>ayfickle@gmail.com</div>
                <div><span class="iconfont icon-github"></span>https://github.com/afickle</div>
            </div>
            <div class="job">
                <h2 class="name">刘莹</h2>
                <div>web前端开发</div>
            </div>
        </div>
        <div id="wrapper">
            <div class="wrap-left">
                <div class="education">
                    <div>
                        <div class="inline"><span class="iconfont icon-xueli"></span></div>
                        <div>
                            <div>教育经历</div>
                            <h4>Education</h4>
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <span class="iconfont icon-edu"></span>
                        <span>2012-2016</span>
                    </div>
                    <div>
                        <h3>杭州电子科技大学</h3>
                        <h4>HangZhou DianZi University</h4>
                        <ul>
                            <li><span class="iconfont icon-edu"></span>软件工程专业（本科）</li>
                            <li><span class="iconfont icon-jiangbei"></span>2013-2015每学期均获校一、二等奖</li>
                            <li><span class="iconfont icon-jiangbei"></span>2013年度校三好学生</li>
                            <li><span class="iconfont icon-zhengshu"></span>服务外包大赛校二等奖</li>
                            <li><span class="iconfont icon-zhengshu"></span>中国好软件初赛三等奖</li>
                        </ul>
                    </div>
                </div>

                <div class="language">
                    <div>
                        <span class="iconfont icon-yuyan"></span>
                        <div>
                            <div>语言水平</div>
                            <h4>Language</h4>
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div>CET-4 550</div>
                        <div>CET-6 486</div>
                    </div>
                    <ul>
                        <li><span class="iconfont icon-collect"></span>能流程阅读英文书籍以及文档</li>
                        <li><span class="iconfont icon-collect"></span>能够书写英文邮件，在StackOverflow上正常交流</li>
                        <li><span class="iconfont icon-collect"></span>具备良好的英文听力</li>
                    </ul>
                </div>

                <div class="skill">
                    <div>
                        <span class="iconfont icon-jishulei"></span>
                        <div>
                            <div>技能</div>
                            <h4>Shill</h4>
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <span class="iconfont icon-jishukaifa"></span>
                        <span>Web前端</span>
                    </div>
                    <div>
                        <h3>HTML/CSS</h3>
                        <ul>
                            <li><span class="iconfont icon-collect"></span>能熟练准确编写语义化的HTML,快速完成页面布局,模块化的CSS,简单的动画</li>
                            <li><span class="iconfont icon-collect"></span>了解已标准化的HTML5/CSS3,并使用过部分</li>
                        </ul>
                    </div>
                    <div>
                        <h3>JavaScript/jQuery</h3>
                        <ul>
                            <li><span class="iconfont icon-collect"></span>熟练ECMASript并能加以运用,对JavaScript的相关引擎有一些了解</li>
                            <li><span class="iconfont icon-collect"></span>很熟悉jQuery的相关函数以及用法,常在项目中使用</li>
                        </ul>
                    </div>
                    <div>
                        <h3>DOM/BOM/Web Api</h3>
                        <ul>
                            <li><span class="iconfont icon-collect"></span>熟悉原生的DOM的使用,及相关的W3C标准</li>
                            <li><span class="iconfont icon-collect"></span>对webGL、SVG、Canvas等API有一定的了解,并有相关实例应用</li>
                        </ul>
                    </div>
                    <!-- <div>
                        <h3>前端开发实践</h3>
                        <ul>
                            <li><span class="iconfont icon-collect"></span>熟悉原生的DOM的使用,及相关的W3C标准</li>
                            <li><span class="iconfont icon-collect"></span>对webGL、SVG、Canvas等API有一定的了解,并有相关实例应用</li>
                        </ul>
                    </div> -->
                    <div>
                        <span class="iconfont icon-jishukaifa"></span>
                        <span>Web后端</span>
                    </div>
                    <ul>
                        <li><span class="iconfont icon-collect"></span>对Node.js有入门级的了解，能够构建简单的server</li>
                        <li><span class="iconfont icon-collect"></span>对PHP的语法有一定的经验，主要与PHP合作开发Web应用</li>
                    </ul>

                    <div>
                        <span class="iconfont icon-jishukaifa"></span>
                        <span>其他</span>
                    </div>
                    <ul>
                        <li><span class="iconfont icon-collect"></span>熟练Linux的基本命令,常在Ubuntu开发Web应用</li>
                        <li><span class="iconfont icon-collect"></span>能够使用Markdown语法编写相关的文档，具有良好的技术交流能力</li>
                        <li><span class="iconfont icon-collect"></span>日常主要使用git/svn和SublimeText进行协作开发</li>
                        <li><span class="iconfont icon-collect"></span>能够使用PhotoShop进行简单的切图以及日常操作</li>
                    </ul>
                </div>
            </div>
            <div class="wrap-right">
                <div class="skill">
                    <div>
                        <span class="iconfont icon-jishulei"></span>
                        <div>
                            <div>技能</div>
                            <h4>Shill</h4>
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <span class="iconfont icon-jishukaifa"></span>
                        <span>Web前端</span>
                    </div>
                    <div>
                        <h3>HTML/CSS</h3>
                        <ul>
                            <li><span class="iconfont icon-collect"></span>能熟练准确编写语义化的HTML,快速完成页面布局,模块化的CSS,简单的动画</li>
                            <li><span class="iconfont icon-collect"></span>了解已标准化的HTML5/CSS3,并使用过部分</li>
                        </ul>
                    </div>
                    <div>
                        <h3>JavaScript/jQuery</h3>
                        <ul>
                            <li><span class="iconfont icon-collect"></span>熟练ECMASript并能加以运用,对JavaScript的相关引擎有一些了解</li>
                            <li><span class="iconfont icon-collect"></span>很熟悉jQuery的相关函数以及用法,常在项目中使用</li>
                        </ul>
                    </div>
                    <div>
                        <h3>DOM/BOM/Web Api</h3>
                        <ul>
                            <li><span class="iconfont icon-collect"></span>熟悉原生的DOM的使用,及相关的W3C标准</li>
                            <li><span class="iconfont icon-collect"></span>对webGL、SVG、Canvas等API有一定的了解,并有相关实例应用</li>
                        </ul>
                    </div>

                    <div>
                        <span class="iconfont icon-jishukaifa"></span>
                        <span>Web后端</span>
                    </div>
                    <ul>
                        <li><span class="iconfont icon-collect"></span>对Node.js有入门级的了解，能够构建简单的server</li>
                        <li><span class="iconfont icon-collect"></span>对PHP的语法有一定的经验，主要与PHP合作开发Web应用</li>
                    </ul>

                    <div>
                        <span class="iconfont icon-jishukaifa"></span>
                        <span>其他</span>
                    </div>
                    <ul>
                        <li><span class="iconfont icon-collect"></span>熟练Linux的基本命令,常在Ubuntu开发Web应用</li>
                        <li><span class="iconfont icon-collect"></span>能够使用Markdown语法编写相关的文档，具有良好的技术交流能力</li>
                        <li><span class="iconfont icon-collect"></span>日常主要使用git/svn和SublimeText进行协作开发</li>
                        <li><span class="iconfont icon-collect"></span>能够使用PhotoShop进行简单的切图以及日常操作</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>