<!DOCTYPE html>
<html>
<head>
	<title>react</title>
	<meta charset="utf-8">
    <!-- css file -->
    <!-- <link rel="stylesheet" type="text/css" href="./../../css/common.css"> -->
    <!-- js file -->
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="./../../lib/react/react.min.js"></script>
    <script src="./../../lib/react/react-dom.min.js"></script>
    <script src="./../../lib/react/JSXTransformer.js"></script>
    <!-- four marked js file maybe used for markdown here ? -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script> -->
    <!-- <script type="text/jsx" src="./../../scripts/jsx/likeBtn.jsx"></script> -->
</head>
    
<body>
 	<div id="content">
        
    </div>
    <script type="text/jsx">
        
    </script>
</body>
</html>